<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NYT News.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA919EAC278E34C8000B1AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA919EC1278E34D0000B1AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA919ECB278E34D0000B1AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
